controllers:
  main:
    containers:
      main:
        image:
          repository: lissy93/dashy
          tag: latest
        env:
          NODE_ENV: development

service:
  main:
    controller: main
    type: ClusterIP
    ports:
      http:
        port: 8080

ingress:
  main:
    enabled: true
    hosts:
      - host: ""
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http

persistence:
  config:
    enabled: true
    type: hostPath
    hostPath: /root/container-data/dashy
    globalMounts:
      - path: /app/user-data
