apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageUpdateAutomation
metadata:
  name: flux-system
  namespace: flux-system
spec:
  interval: 1h
  sourceRef:
    kind: GitRepository
    name: flux-system
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: fluxcdbot@users.noreply.github.com
        name: fluxcdbot
      messageTemplate: |
        Automated image update: {{ range .Changed.Changes }}{{ .Target.Name }}{{ end }}

        Changes:
        {{ range .Changed.Changes -}}
        - {{ .Target.Name }}: {{ .OldValue }} -> {{ .NewValue }}
        {{ end -}}
  update:
    path: ./apps
    strategy: Setters
